/* CSS reset to prevent browser-specific things from messing with my website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--offblack);
}

/* Making some variables because rewriting the same color 500 times gets old real fast... also this allows for easier and more consistent changes if I decide I don't like some color.*/
:root {
    /* The basic colors */
    --background_html: hsl(202, 60%, 92%);
    --offwhite: hsl(202, 60%, 97%);
    --offblack: hsl(244, 100%, 3%);

    /* General theme colors */
    --lighter:  hsl(202, 60%, 95%);
    --accentDark: hsl(244, 20%, 18%);
    --accentLight: hsl(207, 54%, 80%);
    --accentMid:hsl(207, 30%, 40%);
    --accentMidLight: hsl(214, 30%, 60%);

    /* Element colors */
    --containerWhite: hsl(202, 100%, 99.5%);
    --pageHeaderBackground: var(--accentDark);
    --headerColor: hsl(207, 40%, 40%);
    --navBackgroundLight: var(--lighter);
    --navBackgroundHover: var(--accentLight);
    --navBackgroundClick: hsl(214, 25%, 41%);
    --navActivePage: var(--accentDark);

    /* Other variables */
    --max_page_width: 1200px;
}
/* ============================= */ 
/* General styling for the whole document */ 
/* ============================= */ 
html, body {
    background-color: var(--background_html);
    font-size: 32px;
    font-family: Verdana, Helvetica, sans-serif;
    color: var(--offblack);
}
h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
    color:var(--accentMid)
}
p {
    margin: 15px 0px;
}
ul, ol {
    padding-left: 40px;
}
li {
    margin: 4px 0px;
}
a:link, a:visited {
    color: var(--accentMid)
}
a:hover {
    color: var(--accentMidLight)
}
a:active {
    color: var(--accentLight)
}
#page_container {
    width: calc(100vw - (100vw - 100%));
    height: 100%;
    min-height: 100vh;
    margin: 0px auto;
    background-color: var(--containerWhite);
}

/* ============================= */
/* Header Styling */
/* ============================= */
header {
    padding: 8px 5px;
    background-color: var(--pageHeaderBackground);
    color: var(--lighter);
    align-items: middle;
    font-size: 1rem;
}
header h1 {
    font-size: 3.5em;
    text-align: center;
    margin:auto;
    font-weight: bolder;
}

header a:link, header a:visited {
    color: var(--offwhite);
    text-decoration: none;
}

header a:hover {
    color: var(--accentLight);
    text-decoration: none;
}
header a:active {
    color: var(--accentMidLight);
    text-decoration: none;
}
/* ============================= */
/* nav-specific styling */
/* ============================= */
nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
nav a {
    text-align: center;
    flex-grow: 1;
    flex-basis: 1%;
    text-decoration: none;
}
nav a div {
    height: 100%;
    border-top: 2px solid var(--accentDark);
    padding: 8px;
}
nav a:last-of-type div {
    border-bottom: 2px solid var(--accentDark);
}
#primary_nav {
    font-size: 1.5em;
    background-color: var(--lighter);
    font-weight: bold;
}
#primary_nav a:link {
    color: var(--offblack);
}
#primary_nav a:hover{
    color: var(--offblack);
    background-color: var(--navBackgroundHover);
}
#primary_nav a:active {
    color: var(--offblack);
    background-color: var(--navBackgroundHover);
}
/* Secondary navigation is hidden by default and shown using javascript, if applicable.*/
#secondary_nav {
    display: none;
}
.active_nav {
    background-color: var(--navActivePage);
    color: var(--offwhite);
    border-width: 0px;
}

/* ============================= */
/* Styles for page content */
/* ============================= */
main {
    padding: 15px;
    font-size: 1.15rem;
    line-height: 1.3;
}
main h1, h2 {
    margin: 10px 0;
    margin-top: 20px;
}
.main_img {
    width: 25%;
    float: right;
    margin: 0px 10px;
    min-width: 175px;
}
.card_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    row-gap: 20px;
    max-width: 100%;
}
.card {
    padding: 10px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 0.2rem;
    flex-grow: 1;
}  
.card h1, .card h2, .card h3, .card h4 {
    margin: 8px 0;
}
.card_img {
    width: 100%;
    max-height: 350px;
    object-fit:scale-down;
    position:relative;
    margin: 0 auto;
    margin-bottom: 10px;
}

.image_cap_container {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    float: right;
    align-items: center;
    padding: 4px;
    margin-left: 6px;
    margin-bottom: 6px;
}

.img_in_container {
    width: 100%;
    max-height: 250px;
    object-fit: scale-down;
    position: top;
    margin-bottom: 5px;
}

.img_caption_in_container {
    font-size: 0.8rem;
    font-style: italic;
    text-align:center;
    margin-top: 0;
}

@media screen and (min-device-width:800px) {
    /* Body and page container settings on a large screen */
    html, body {
        font-size: 16px;
        font-family: Verdana, Helvetica, sans-serif;
    }
    #page_container {
        width: calc(100vw - (100vw - 100%));
        height: 100%;
        min-height: 100vh;
        max-width: var(--max_page_width);
        margin: 0px auto;
    }
    /* All the fun nav stuff! */
    nav {
        flex-direction: row;
        min-height: 30px;
    }
    nav a {
        min-width: 100px;
    }
    nav a div {
        border: 2px solid var(--accentDark);
        border-left: none;
    }
    nav a:first-of-type div {
        border-left: 2px solid var(--accentDark);
    }
    #primary_nav {
        font-size: 1.5rem;
        background-color: var(--lighter);
        color: var(--offwhite);
        font-weight: bold;
    }
    #primary_nav a:link div {
        color: var(--offblack);
    }
    #primary_nav a:hover div {
        color: var(--offblack);
        background-color: var(--navBackgroundHover);
    }
    #primary_nav a:active div {
        color: var(--offwhite);
        background-color: var(--navBackgroundClick);
    }
    .active_nav {
        background-color: var(--navActivePage);
        color: var(--offwhite);
        border: 2px solid var(--accentDark);
        border-left: none;
    }
    /* Handling of cards on a page */
    .card_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: flex-start;
        column-gap: 10px;
        row-gap: 20px;
        max-width: 100%;
    }
    .card {
        padding: 10px;
        flex-basis: 300px;
        min-height: 400px;
        overflow: hidden;
        border: 2px solid var(--accentMid);
        background-color: var(--lighter);
        border-radius: 0.2rem;
        flex-grow: 1;
    }  
    .card h1, .card h2, .card h3, .card h4 {
        margin: 8px 0;
    }
    .card_img {
        width: 100%;
        max-height: 200px;
        object-fit:scale-down;
        position: top;
        margin-bottom: 10px;
    }
} 